<div class="container">
    {% for post in postslist %}
        <div class="box">
            <a href="{{ post.url | url }}">
                <img class="image" src="{{post.data.featuredImage}}"></img>
                <h3>{{ post.data.title }}</h3>
                <p>{{ post.data.description }}</p>
            </a>
        </div>
    {% endfor %}
</div>