<div class="container">
    {% for post in postslist %}
    <div class="box">
        <img class="image" src="{{post.data.featuredImage}}"></img>
        <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
        <p>{{ post.data.description }}</p>
    </div>
    {% endfor %}
</div>