:root{
  --primary:#DA0037;
  --main: #171717;
  --secondary: #272727;
  --text: #EDEDED;
}

*{
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: var(--main);
  color: var(--text);
  font-family: 'Roboto', sans-serif;

}

a{
  color: var(--text);
  text-decoration-line: none;
}

h1{
  font-size: 10vw;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  padding: 20px;
  font-size: 6vw;
}

img{
  object-fit: cover;
  object-position: top;
  width: 100%;
  max-height: 70vh;
  border-radius: 10px;
  mask-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.2));
  -webkit-mask-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.2));
}

.image-container{
  position: relative;
  margin: 10px;
}

.title{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.header{
  width: 100vw;
  height: fit-content;
  margin: 0px;
  padding: 1px;
  background-color: #000000;
  color: #ffffff;
}

.site-identity{
  width: 100%;
  height: fit-content;
}

.site-identity-text{
  font-size: 2rem;
  text-align: left;
  font-weight: 900;
}