<html>
    <head>
        <title>Atharv's Blog</title>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <header class="header">
            <div class="site-identity">
                <p class="site-identity-text">AS</p>
            </div>
        </header>

        <h1>
            Welcome to my Blog
        </h1>
        {{ content | safe }}
    </body>
</html>