
*{
  box-sizing: border-box;
}
body{
  background-color: #171717;
  color: #EDEDED;
  font-family: 'Roboto', sans-serif;
}

a{
  color: #DA0037;
}

.container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 30px auto;
}
.box{
  width: 40%;
  height: auto;
  border: 1px solid #ccc;
  margin-right: 1%;
  border-radius: 10px;
  transition: 0.9;
}
.box:hover{
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
  cursor: pointer;
}
img{
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
h3,p{
  text-align: center;
  color: rgb(104, 92, 92);
}
p{
  font-size: 15px;
  padding: 0 5px;
}
@media (max-width: 800px){
  .container{
      width: 100%;
  }
  .box{
    width: 50%;
  }
}
@media (max-width: 600px){
  .container{
      width: 100%;
      display: block;
  }
  .box{
      width: 100%;
      margin-bottom: 4%;
  }
}
