@import url("https://fonts.googleapis.com/css2?family=Fira+Sans");
:root {
  --color-text1: #f5f5f5;
  --color-text2: #151515;

}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}
